body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
}

a {
  color: black;
  text-decoration: none;
}

.h1_homepage {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    padding-bottom: 5px;
}

.h1_journeys {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    float: right;
    padding-right: 180px;
    /* padding-bottom: 5px; */
}

.h1_journey_details {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    padding-top: 10px;
    /* padding-bottom: 5px; */
}

input[type=text] {
    width: 220px;
    padding: 15px;
}

input[type=date] {
    width: 119px;
    padding: 15px;
    font-size: 12px;
}

input[type=time] {
    width: 67px;
    padding: 15px;
    font-size: 12px;
}

input[type=submit] {
    background-color: #0099FF;
    color: white;
    border-radius: 8px;
    border: none;
    /* padding: 15px; */
    /* margin-top: 40px;
    margin: 40px 75px; */
    display: block;
    width: 100px;
}

.homepage_submit {
    background-color: #0099FF;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 15px;
    margin-top: 40px;
    margin: 40px 75px;
    display: block;
    width: 100px;
}

.text_homepage {
    padding-bottom: 15px;
    padding-top: 15px;
}

.text_weather {
    /* padding-bottom: 8px; */
    padding-top: 8px;
}

.frame_image {
    width: 428px;
    height: 926px;
    overflow: visible;
    aspect-ratio: 1.5 / 1;
    background-image: url("istockphoto-823458196-612x612.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.screen {
    width: 428px;
    height: 926px;
    overflow: hidden;
}

.frame_homepage {
    width: 310px;
    height: 600px;
    background-color: #ffffff;
    overflow: visible;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 5px;
}

.frame_weather {
    width: 310px;
    height: 100px;
    background-color: #ffffff;
    overflow: visible;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 25px;
    border-radius: 5px;
}

.frame_journeys {
    width: 310px;
    height: 796px;
    background-color: #ffffff;
    overflow: visible;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 30px;
    position: relative;
    border-radius: 5px;
    overflow: auto;
}

.possible_journeys_form {
    margin-top: 15px;
}

.possible_journeys_placeholder {
    margin-top: 25px;
}

.possible_journey_textfield {
    padding-bottom: 10px;
}

.possible_journeys_radio {
    margin-left: 30px;
    padding-top: 5px;
}

.possible_journeys_submit {
    background-color: #0099FF;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 15px;
    /* margin-top: 40px; */
    margin: 15px 70px;
    display: block;
    width: 100px;
}

.possible_journey {
  width: 260px;
  /* height: 75px; */
  background-color: #9dbef5;
  border-radius: 5px;
  /* text-align: center; */
  /* padding: 25px 0; */
  margin: 10px 0;
  font-size: 13px;
}

.possible_journey_dep_arr {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.possible_journey_transport_icons {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.possible_journey_time {
    float: right;
}

.possible_journey_distance {
    float: right;
}

.maps_overlay {
    width: 260px;
    /* height: 260px; */
    background-color: #44ccff;
    overflow: visible;
    margin-top: 50px;
    text-align: center;
    padding: 110px 0;
    /* padding-left: 50px; */
    /* padding-top: 50px; */
}

.journey_details {
    margin-top: 25px;
    /* padding-top: 10px; */
}

.journey_leg {
  width: 260px;
  /* height: 75px; */
  background-color: #9dbef5;
  border-radius: 5px;
  /* text-align: center; */
  /* padding: 25px 0; */
  margin: 15px 0;
  font-size: 14px;
}

.journey_leg_dep {
    padding-top: 5px;
    padding-left: 5px;
}

.journey_leg_transit_type {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 27px;
}

.journey_leg_duration {
    padding-left: 46px;
    padding-bottom: 5px;
}

.journey_leg_arr {
    padding-bottom: 5px;
    padding-left: 5px;
}

.fitbit_goal {
    /* padding-top: 10px; */
    /* position: absolute;
    bottom: 0;
    padding-bottom: 150px; */
}

.journey_weather {
    width: 260px;
    font-size: 13px;
    /* position: absolute;
    bottom: 0; */
    padding-bottom: 20px;
    padding-top: 15px;
}

.journey_detail_travel_icons {
    padding-top: 15px;
}

.journey_detail_time {
    width: 260px;
    margin: 10px 0;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.journey_detail_travel_time {
    float: right;
}

.journey_detail_date {
    float: left;
}

.journey_extra_options {
    /* text-align: center; */
    padding-top: 15px;
}

.journey_extra_walk {
    font-size: 12px;
}
