<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="layout.css"> -->
    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
<div class="frame_image">
    <div class="screen">
        <div class="frame_journeys">
            <a href="http://localhost:5000/possiblejourneys"><i class="ph-x"></i></a>
            <div class="h1_journey_details">Address 1 -> <br>Address 2</div>

            <div class="maps_overlay">
                [Google Maps overlay]
            </div>
            <br><br><br><br>
            ~~ Journey details ~~

            <div class="journey_weather">
                Weather forecast for {{ weather[1] }}: <i class="{{ weather[2] }}"></i><br>
                {{ weather[0]['hourly']['summary'] }}
            </div>

        </div>
    </div>
</div>
</body>
